Makefile.config
*.o
*.a
*.d
nachos.*
html/
CROSS_COMPILER_MIPS_LINUX.tar.bz2
CROSS_COMPILER_MIPS_LINUX/
MIPS_LINUX/
nachos
test/halt
test/hello
test/matmult
test/shell
test/sort
test/test_lock
test/test_semaphore
test/test
test/test_data_overflow
test/test_driver_receiver
test/test_driver_sender
test/test_cond_var
DISK
SWAPDISK
doxygen.cfg
